@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fbfbfb;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(0, 247, 255);
  font-size: 10rem;
  text-align: center;
  opacity: 0.8;
}

form {
  color: #000000;
  box-shadow: 0 4px 10px rgb(255, 255, 255);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #040404;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #7d7d7d;
}

.input:focus {
  outline-color: rgb(0, 200, 255);
  outline-width: 5  px;
}

.todos {
  background-color: #585858;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e7e7e7;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #00aaff;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}